<html>
    <style>
        h1{
            font-size: 40px;
        }
        h1{
            color:mediumblue;
        }
        h3{
            font-size: 20px;
            font-weight: 100;
        }
        body{
            background-color: aliceblue;
        }
        h2{
            background-color: black;
            color: white;
        }
       
    </style>
    <head>
       <title><b>About Us</b></title>
    </head>
    <body>
        <h><b>About Us</b></h><br>
        <img src="https://i.pinimg.com/280x280_RS/2d/b1/de/2db1de72318d98c69318a48a547b1393.jpg" height="250px" width="1500px">
        <h1><center>World Changers aren't born.They are made.</center></h1>
            <pre><h2><center>OUR MISSION</center></h2></pre>
            <h3><i><center>Our Roadmap starts with our mission,which                
                is enduring.<br>It declares our purpose as a
                 company and serves as the standard aganist
                  which we weigh our actions and decisions.<br>Our programme is to transform India into a digitally empowered society and knowledge economy. </center></i> </h3>
                  
    </body>
</html>
