<html>
    <head>
        <title>Helpsupport</title>
    </head>
    <style>
        
        h{
            font-style: Sans-serif;
            font-size: 25px;
        }
    </style>
    <body class="abc">
        <h><b>How do I reset my password?</b></h>
        <ol>
            <li>Go to the login page and below the password field click on forget password.</li>
            <li>Enter your Email address and click "Continue". </li>
            <li>The link to reset password is sent to your mail.</li>
            <li>Enter new password information in required fields and click "Reset Password".</li>
        </ol>
        <p>&nbsp;(Note:The link to reset your password expires after 1 hour.)</p>
        <h><b>I can't verify my email since I don't have access to my email account.</b></h>
        <ol>
            <li>Individuals are required to verify their email address for security purpose.</li>
            <li>If you do not have access to the email account listed in your My Vision profile,
                 please contact the Instructor.</li>
        </ol>
        <h><b>I'm unable to log in,what can I try?</b></h>
        <p>If you cannot log in using your My Vision Academy, try the following:</p>
        <ol>
           <li>Clear your browser cache and history.Close and relaunch.</li>
           <li>Clear any old bookmarks you may have and try again to login. </li>
           <li>Please try the latest version of the recommended browsers(Google Chrome or Mozilla Firefox)  </li>
           <li>Use email instead of username</li>
        </ol>
        <h><b>Why am I getting an error message when trying to activate my account?</b></h>
        <ol><li>My Vision recently implemented a change to their authentication.</li>
           <li>Individuals who had not registered their account before this change will get an error message when using the link from the email.</li>
           <li>Please look for a new email.</li>
        </ol>
        
        <h><b>How do I view my course completion certificate?</b></h>
        <ol>

        </ol>
        <h><b>What are the eligibility requirements for a course completion certificate?</b></h>
        <p>Below are the requirements to qualify for a course completion certificate in most courses within My Vision Academy</p>
        <ol>
            <li>Complete the assignments in the course, including the end of course exam</li>
            <li>Marked complete in the grades</li>
        </ol>
        <h><b>Are there recommended browsers for Myvision Academy?</b></h>
        <p>In general, My  vision Academy supports the 2 most recent versions of these browsers:</p>
        <ol>
           <li>Mozilla Firefox</li> 
            <li>Google Chrome</li>
        </ol>
    </body>
</html>
