<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
</head>
<style>
	body{
		background-image: url("2.jpeg");
		padding:50;
		margin-top:30;
		background-color: skyblue;
		background-size: cover;
		background-repeat: no-repeat;
	}
	</style>
<body>
	<center>
        <form method="GET" action="/loginsubmit">
		<br><br><br><br><br><br><br><br><br><br>
		Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="Text" name="emil"><br><br><br>
		Password&nbsp;&nbsp;
		<input type="password" name="passwrd"><br><br>
		<button>Login</button>
    </form>
	</center>
</body>

</html>
