<html>
    <head>
        <title>Settings</title>
    </head>
    <body>
        <form>
            <b>Your Username</b>
            <br><br>
            <input type="text">
            <br>
            <br>
            <b>Email Address</b>
            <br><br>
            <input type="button" value="+add another email">
            <br>
            <br>
            <b>Password</b>
            <br><br>
            Current Password &nbsp;<input type="text"><br><br>
            New Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"><br><br>
            Confirm Password&nbsp; <input type="text">
            <br><br>
            <input type="button" value="Change Password">
            <br>
            <br>
            <b>Verify Your Phone number</b>
            <br><br>
            Enter mobile number to Verify
            <input type="text"><br><br>
            <input type="button" value="Verify">
            <br><br>
            <b><center><input type="button" value="Save Changes"</center></b>
        </form>
    </body>
</html>
