<html>
<title>Signup</title>
<style>
	body{
		background-image: url("2.jpeg");
		background-repeat: no-repeat;
		height: 100%;
		background-position: center;
		background-size: cover;
	}
	h1{
		background-color: black;
		color: white;
	}
	h2
	{
		padding: 50;
	}
	h3{
		font-size: 30;
	}
	</style>
<body>
	<h1> <center> <marquee> MY VISION</marquee></h1>
		<h3><center><b>Signup</b></h3>
	<form method="GET" action="/signupsubmit">
		<h2><center>First_Name<br>
			<input type="Text" name="first_name"> <br><br>
			Last_Name<br>
			<input type="Text" name="last_name"> <br><br>
			Email <br>
			<input type="Text" name="email"> <br><br>
			Password<br>
			<input type="Password" name="psw"><br><br>
			Repeat Password<br>
			<input type="Password" name="psw_repeat"></h2><br><center>
			<input type="checkbox" name="radio">I agree to the Privacy Policy and Terms.</p>
		<h2><center><input type="Submit"> </h2>
</form>
</body>
</html>
