<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1>
</head>
    <style>
    * {
    box-sizing: border-box;
    }
    body {margin: 0;}
    .header {
    padding: 10px;
    text-align: center;
    background: blue;
    color: white;
    }
    .navbar {
    overflow: hidden;
    background-color: dimgrey;
    }
    .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    }
    .navbar a.right {
    float: right;
    }
    .navbar a:hover{
    background-color: #eee;
    color: black;
    }
    .row {
    display: flex;
    flex-wrap: wrap;
    }
    .sidebar {
    flex: 10%;
    background-color: #f1f1f1;
    padding: 20px;
    }
    .main {
    flex: 80%;
    background-color: white;
    padding: 20px;
    }
    .logoimg {
    height:10%;
    float:left;
    }
    ul.no-bullets {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
    .button{
                background-color: green;
        }
        a:link {
            text-decoration: none;
        }
        .leftdiv
         {
         float: left;
         }
         .rightdiv
         {
         float: middle;
         
         }

    </style>
   
    <body>
    <div class="header">
    <div class="logoimg" ></div>
    <h1>Welcome to MY VISION</h1>
    </div>
    <div class="navbar">
        <a  href="
        https://profile00.glitch.me">Profile</a>
        <a href="https://settings01.glitch.me">Settings</a>
        <a href="
        https://aboutus01.glitch.me">About Us</a>
        <a href="
        https://help123.glitch.me">Help</a>
    <a href="http://localhost:3000/Logout" class="right">Logout</a>
    </div>
    <div class="row">
    <div class="sidebar">
    <h2>Contact US</h2>
    <b>Email :</b><br>
    <a href="mailto: myvision.010@gmail.com" target="_blank">myvision.010@gmail.com</a>
    
    <!--<div><img src="Contact.jpg" style="height:100px;"></div>-->
    <h2>Reviews</h2>
    <div ><img src="https://th.bing.com/th/id/OIP.T0fRGcC9RF7-HCiBn2XHrAHaFj?w=206&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" style="height:100px;"></div>
    </div>
    <div class="main">
        <center>
            <p style="color: red; font-size:large"> An incredible opportunity is waiting for you.
             <br>
         Technology is changing the world by connecting billions of devices and improving 
         how we live, work, play and  treat our planet.
         <br>
         Are you ready to change your life, 
         and possibly make the world a better place?</p>
     </center>
    <!--<h2>WHAT IS MY VISION?</h2>-->
    <marquee><i>Choose your interest area and get certified with our online Courses..</i></marquee>
    <br>
    <center>
    <div class="row">
    <div class="sidebar">
    <h2><u>Available Courses</u></h2>
    <ul class="no-bullets">
        <div id="div1">
        <li style="font-size: 30px;"><b>C</b></li> 
        <a href="https://www.w3schools.com/c/ ">
            <input type="button" Style="background-color:green" value="Learn">
        </a> 
        <a href="https://quiz010.glitch.me">
        <input type="button" Style="background-color:green" value="Attempt Quiz" >
        </a>
      </a> 
    </div>
      <br>
      <br>
      <div class="div2">
        <li style="font-size: 30px;"><b>C++</b></li>
        <br>
        <a href="https://www.w3schools.com/cpp/">
        <input type="button" Style="background-color: green" value="Learn">
      </a>
      <a href="
      https://quiz008.glitch.me">
        <input type="button" Style="background-color:green" value="Attempt Quiz" >
        </a>
    </div>
        <br>
        <div id="div3">
        <li style="font-size: 30px;"><b>Java</b></li> 
        <br>
        <a href="https://www.w3schools.com/java/default.asp">
        <input type="button" Style="background-color: green" value="Learn">
        </a>
        <a href="https://java012.glitch.me">
        <input type="button" Style="background-color:green" value="Attempt Quiz" >
        </a>
    </div>
        <br>
        <div id="div4">
        <li style="font-size: 30px;"><b>Sql</b></li>
        <br>
        <a href="https://www.w3schools.com/sql/">
        <input type="button" Style="background-color: green" value="Learn"> 
      </a> 
      <a href="https://sqlquiz01.glitch.me">
        <input type="button" Style="background-color:green" value="Attempt Quiz" >
        </a>
      </div>
      </ul>
    </center>
    <br><br><br>
    <center><b>Follow us </b>&nbsp;
        <br>
        <a href="https://instagram.com/myvision_010?igshid=YmMyMTA2M2Y=">
            <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="https://www.youtube.com/channel/UCEvD7ePKHpGZoXX_wgWy4sQ">
            <ion-icon name="logo-youtube"></ion-icon>
        </a>
        
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    </body>
    </html>
    
